<header>
  <img src="robot.jpeg" alt="A form and a pencil" />
  <h1>Customer Support Chat</h1>
</header>
<form [formGroup]="queryForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Query</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea
              matInput
              placeholder="Enter your query"
              formControlName="query"
            ></textarea>
            @if (queryForm.controls['query'].hasError('required')) {
            <mat-error>Query is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      @if (isFetching()){
      <mat-spinner></mat-spinner>
      } @else {
      <button mat-raised-button color="primary" type="submit">Submit</button>
      }
    </mat-card-actions>
  </mat-card>
</form>
<div class="centered-link-container">
  <a
    href="https://github.com/MateuszKrolik/Customer_Support_AI_ChatBot_BackEnd/blob/master/app/src/data/source/stellar_web_solutions_customer_handbook.pdf"
    target="_blank"
    class="centered-link"
  >
    <mat-icon class="centered-link-icon">integration_instructions</mat-icon>
    Customer Handbook
  </a>
</div>
